modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "shop"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "management"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "mockup-sandbox"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PORT=8080 && pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "shop"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PORT=24349 BASE_PATH=/ && pnpm --filter @workspace/shop run dev"
waitForPort = 24349

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "management"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PORT=24310 BASE_PATH=/management/ && pnpm --filter @workspace/management run dev"
waitForPort = 24310

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow]]
name = "mockup-sandbox"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PORT=8081 BASE_PATH=/__mockup && pnpm --filter @workspace/mockup-sandbox run dev"
waitForPort = 8081

[workflows.workflow.metadata]
outputType = "console"
isCanvasWorkflow = true

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
